---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import profilImage from "../profil.jpg";
import instagramImage from "../instagram.png";
import linkedinImage from "../linkedin.png";
import githubImage from "../github.png";
import unpamImage from "../unpam.png";
import spotifyImage from "../spotify.png";
import steamImage from "..//steam.png";
import twitchImage from "..//twitch.png";
---

<Layout title="My Website">
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profil">Profil</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </nav>
  <main>
    <svg
      class="astro-a"
      width="495"
      height="623"
      viewBox="0 0 495 623"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
    </svg>
    <h1><span class="text-gradient">Alfan Hidayat</span></h1>
    <p class="instructions">
      <Image
        src={profilImage}
        alt="descriptive text"
        style="width: 100px; height: 100px; border-radius: 50%; float: right; display: block; margin: 0 auto;"
      />
       Saya Adalah Mahasiswa Semester 1<br />
      <strong>Teknik Informatika</strong><br />
      <strong>Universitas Pamulang</strong>
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://mail.google.com/?alfanpartll@gmail.com"
        title="Email"
        body="Kirim Email"
      />
      <Card
        href="https://www.instagram.com/kelraskie/"
        title="Instagram"
        body="My Instagram"
      />
      <Card
        href="https://www.tiktok.com/@kelsk1e"
        title="Tiktok"
        body="My Tiktok Profile"
      />
      <Card
        href="https://open.spotify.com/playlist/58iyDhFJT2XZztfrXJMjsV"
        title="Spotify"
        body="My Playlist"
      />
    </ul>
    <p class="footer" style={{ textAlign: "center" }}>
      Contact Me : <br />
      <strong>alfanpartll@gmail.com</strong><br />
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
    background-color: plum;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .card-logo {
    width: 10px;
    height: 10px;
    border-radius: 10%;
    margin-bottom: 10px;
  }
  .footer {
    display: block;
    flex-direction: column;
    align-items: left;
    text-align: right;
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
    background-color: plum;
  }
  .footer code {
    justify-content: center;
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .footer strong {
    justify-content: center;
    color: rgb(var(--accent-light));
  }
  nav {
    background-color: #333;
  }
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .navbar li {
    display: inline;
    float: left;
  }
  .navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: plum;
    color: white;
  }
  body {
    margin: 0;
  }
</style>
